
.jeu .bloc {
   min-height: 100px;
   text-align: center;
   font-size: 40px;
   border: 1px solid black;
   cursor: pointer;
}

.jeu .bloc {
   min-height: 100px;
   text-align: center;
   font-size: 40px;
   border: 1px solid black;
   cursor: pointer;
}